
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Home Page</title>
</head>
 
<body>
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SEARCH RESULTS</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
 
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <%for (var i=0; i< posts.length;i++){%>
          <div class="post-preview">
            <a href="/post/post._id">
              <h2 class="post-title">
                <%= posts[i].lugar %>
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#"><%= posts[i].pais %></a>
            </p>
            <p class="post-meta">Estado
              <a href="#"></a><%= posts[i].estado %></a>
            </p>
            <a href=/delete/<%= posts[i]._id %>   class="btn btn-danger" href="turn">Delete </a>   
              <a href=/edit/<%= posts[i]._id %> class="btn btn-info" href="turn">Edit </a>
          </div>
          <hr>
      <%}%></hr>

    
      
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
   
  <hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
        </div>
      </div>
    </div>
  </footer>
 

</body>
 
</html>