<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Own sytlesheet-->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <!--Page -Header-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-around clearfix">
    <!--ViajeroSum Logo -->
    <a class="navbar-brand" href="#">
      <img src="/img/ViajeroSUMremovebg.png" alt="logo" style="width:100px;">
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link btn-outline-success active" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorías</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nosotros">Nosotros</a>
      </li>
      <% if(auth){ %>
        <li class="nav-item">
            <a class="nav-link"  href="/misPublicaciones">Mis Publicaciónes</a>
        </li>
      <% } %>
     
    </ul>
    <!--Search Bar-->
    <form class="form-inline p-3"action="/search" method="get" >
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Buscar.." id="searchInput">
      <button class="btn btn-success" type="submit" name="submit" id="btnSearch" href="#">Buscar</button>
    </form>
    <% if(!auth){ %>
        <!---Sign in Option-->
        <a class="btn btn-success"  href="/auth/login">Iniciar sesión</a>
      <!--  <button class="btn btn-success"  href="index.html" id="signinButton" type="submit">Iniciar Sesión</button>-->
        <!--Sign in End-->
    <% } else { %>
      <a class="btn btn-danger"  href="/createPost">Crear Post</a>
      <!---Log Out Option-->
      <a class="btn btn-danger" id="logOutButton" href="/auth/logout">Cerrar sesión</a>
        <!--Log Out End-->
        
    <% } %>
  </nav>
    <div class="container">
        <div class="row">
          <!--FORM-->
          <div class="col-md-5 offset-md-3">
            <div class="card">
              <div class="card-body">
                <form action="/edit/<%=post._id%>" method="post">
                  <div class="form-group">
                    <input class="form-control" type="text" name="lugar" placeholder="Title" value="<%=post.lugar%>">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="lugar" placeholder="Title" value="<%=post.estado%>">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="lugar" placeholder="Title" value="<%=post.estado%>">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="pais" cols="80" placeholder="Agregar lugar"><%=post.descripcion%></textarea>
                  </div>
                  <button class="btn btn-primary" type="submit">
                    Update 
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>